	<div>
	<div class="row clearfix forgot-screen">
		<div class="col-sm-7">
		</div>
		<div class="col-sm-4">
			<div class="login-right ">
				<div class="text-center mar-btm">
				<img src="images/logo.png" class="text-center">
				</div>
				<h4 class="fpass">Forgot Password?</h4>
				<p>Enter your e-mail address below, and we’ll send you instructions for resetting it</p>
				{{> erroralert}}
			{{> inputbox loginsetting.username}}
				<button type="button" class="sub-btn" id='next4' >Reset Password</button>
				<div class="text-center mar-top">
				<span><a href="#" class='backtologin'><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Sign in</a></span>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			<div class="col-sm-3">
				<div class="modal" id="myModal">
					<div class="modal-dialog">
					  <div class="modal-content forgot-popup">
						<div class="modal-body">
							<img src="images/login/tick.svg">
							<h4>Recovery Email Sent</h4>
							<p>We have sent you the instructions to reset your password to your email ID.</p>
							<button type="button" class="btn btn-primary done-btn">Done</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>