<!DOCTYPE html> 
<html>
<title>UnifiedRing</title>
<head>
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles-app.css"/>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">	
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/fjs.js"></script><script> 
$(document).ready(function() {
    $('#examples').DataTable();
} );
</script>
</head>
<body>

<div class="dashboard-home container-fluid"> 
	<div class="container">
		<div class="row clearfix">			
			<div class="col-sm-1 first-columns">
				<ul class="icons-top">					
					<li><a href="#"><span class="icon-Dashboard"></span>Dashboard</a></li>
					<li><a href="#"><span class="icon-Phone"></span>Phone</a></li>
					<li><a href="#"><span class="icon-Bookmark"></span>Bookmarks</a></li>
					<li><a href="#"><span class="icon-Directory"></span>Directory</a></li>
				</ul>
				<ul class="icons-bottom">
					<li><a href="#"><span class="icon-Task"></span>Task</a></li>
					<li><a href="#"><span class="icon-Calendar-date"></span>Events</a></li>
					<li><a href="#"><span class="icon-Notes"></span>Notes</a></li>
					<li><a href="#"><span class="icon-Folder"></span>Files</a></li>
					<li><a href="#"><span class="icon-Link"></span>Link</a></li>
				</ul>
			</div>
					
			<div class="col-sm-2 second-columns">
				<div class="row clearfix">			
					<div class="customer-header col-md-12">						
						<img src="images/close.svg" class="closing"/> 
						<div class="customer-header-sect">
							<div class="dropdown customer-header-sect-img">
								<img src="images/customer-img.png" class="customer-img" class="dropdown-toggle" data-toggle="dropdown"/>
								<img src="images/green-active.svg" class="dotactive"/>
								<ul class="dropdown-menu">
									<li class="dropdown dropdown-submenu"><a href="#"><img src="images/green-active.svg"/> Available <span class="icon-arrow-right submenu-img"></span></a>
										<ul class="dropdown-menus">
											<li><a href="#"><img src="images/green-active.svg"/> Available</a></li>
											<li><a href="#"><img src="images/yellow.png"/> Invisible</a></li>
											<li><a href="#"><img src="images/red.png"/> Do not Disturb</a></li>
											<li><a href="#"><img src="images/grey.png"/> Busy</a></li>
										</ul>
									</li>												
									</li>
									<li><a href="#">Share Status</a></li>
									<li><a href="#">Edit profile</a></li>
									<li><a href="#">Preferences</a></li>
									<li><a href="#">Help</a></li>
									<li><a href="#">Keyboard Shortcuts</a></li>
									<li class="dropdown dropdown-submenu"><a href="#">About <span class="icon-arrow-right submenu-img"></span></a>		
										<ul class="dropdown-menus">
											<li><a href="#"><img src="images/green-active.svg"/> Available</a></li>
											<li><a href="#"><img src="images/yellow.png"/> Invisible</a></li>
											<li><a href="#"><img src="images/red.png"/> Do not Disturb</a></li>
											<li><a href="#"><img src="images/grey.png"/> Busy</a></li>
										</ul>
									</li>
									<li><a href="#">What's New</a></li>
									<li><a href="#">Download Apps</a></li>
									<li><a href="#">@Mentions</a></li>
									<li><a href="#">Signout</a></li>
								</ul>							
							</div>
							<div class="customer-header-sect-name">
								<h3>  </h3>
							</div>
							<div class="customer-header-sect-imgplus dropdown"><span class="icon-Add dropdown-toggle" data-toggle="dropdown"></span>
								<ul class="dropdown-menu">
									<li><a href="#"><span class="icon-Phone"></span> Start phone Call</a></li>
									<li><a href="#"><span class="icon-Video"></span> Start Video Meeting</a></li>
									<li><a href="#"><span class="icon-Chat"></span> Send New Message</a></li>
									<li><a href="#"><span class="icon-Contacts"></span> Create Team</a></li>
									<li><a href="#"><span class="icon-mail-read"></span> Invite New User</a></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>
				<div class="searchbox row clearfix">			
					<div class="col-md-12">
						<form action="" method="post">
							<input type="text" name="search" placeholder="Search"/>
						</form>
					</div>
				</div>
				<div class="chat-left row clearfix">			
					<div class="col-md-12">
						<h4><span class="icon-Favourites list-name-icons"></span> Favourites</h4>
						<ul class="style-4">
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="chat-left row clearfix">			
					<div class="col-md-12">
						<h4><span class="icon-Contacts list-name-icons"></span> Contacts
							<a href="#myModaladdnewmessage" class="tooltips"><span class="icon-Add-doted dropdown-toggle" data-toggle="modal" data-target="#myModaladdnewmessage"></span>
								<p class="pophover">New Message</p>
							</a>
						</h4>
						<ul class="style-4">
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="chat-left row clearfix">			
					<div class="col-md-12">
						<h4><span class="icon-Teams list-name-icons"></span> Teams
							<a href="#myModaladdnewmessage" class="tooltips1"><span class="icon-Add-doted dropdown-toggle" data-toggle="modal" data-target="#myModaladdnewmessage"></span>
								<p class="pophover1">Create Team</p>
								</ul>
							</a>
						</h4>
						<ul class="style-4">
							<li class="active"><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
							<li><a href="#">
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img"/>
									<img src="images/green-active.svg" class="dotactives"/>
								</div>
								<span>Ronnie Diaz</span>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-9 third-columns"><div class="fixedscroll adminWinM style-4">
				
				<div class="chat-info123" title="Expand">
					<div class="toggle-info">
						<a class="toggle-icon"><span class="icon-arrow-left"></span></a>
					</div>
				</div>
				<img src="images/m-3dot.png" class="left-menu-section"/>
				<div class="adminscreen administrator row clearfix">
					<div class="col-md-12">
						<div class="phds row clearfix">
							<img src="images/menu-black.svg" class="m-menus"/><h3>Administration</h3>
						</div>
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>Administrators <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						<ul class="ad-sect" id="adminRows">
							<li class="dropdown">
								<div class="ad-name-images"><img src="images/customer-img.png" class="customer-img"/> <h3>Ronnie Diaz<br><span>jessica_lucas@gmail.com</span></h3></div>
								<div class="ad-name-icons"><span class="icon-settings dropdown-toggle" data-toggle="dropdown"></span>
									<ul class="dropdown-menu">
										<li><a href="#">Remove Admin</a></li>
										<li><a href="#">View Profile</a></li>
									</ul>
								</div>
							</li>
							<li class="dropdown one">
								<div class="ad-name-images"><img src="images/customer-img.png" class="customer-img"/> <h3>Ronnie Diaz<br><span>jessica_lucas@gmail.com</span></h3></div>
								<div class="ad-name-icons"><span class="icon-settings dropdown-toggle" data-toggle="dropdown"></span>
									<ul class="dropdown-menu">
										<li><a href="#">Remove Admin</a></li>
										<li><a href="#">View Profile</a></li>
									</ul>
								</div>
							</li>
						</ul>
						
						<h5><a id="addAdminCall" href="" data-toggle="modal" data-target="#myModaladdnew1">+ ADD ADMIN</a></h5>
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>DATA RETENTION <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Data Retention Policy<br><span>All messages are kept over</span></h3></div>
								<div class="ad-name-icons">
									<span id="adminReten" class="icon-edit" data-toggle="modal" data-target="#myModaladdnew"></span>
								</div>
							</li>
						</ul>
						
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>Company Settings <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Allow Employees to invite<br><span>Allow employees to add other co-workers and guests</span></h3></div>
								<div class="ad-name-icons">
									<label class="switch ">
										<input  id="allowinvite" type="checkbox" class="primary">
										<span class="slider round"></span>
									</label>
								</div>
							</li>
						</ul>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Allow employees to sign up without being invited?<br><span>Employees can sign up without an invitation using their work email addresses</span></h3></div>
								<div class="ad-name-icons">
									<label class="switch ">
										<input id="begininvite" type="checkbox" class="primary">
										<span class="slider round"></span>
									</label>
								</div>
							</li>
						</ul>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Allow Giphy Sharing<br><span>Allow people to share GIFs from Giphy</span></h3></div>
								<div class="ad-name-icons">
									<select name=""  id="ghipydropbox">
										<option value="0">No</option>
										<option value="1">Max rate of G</option>
										<option value="2">Max rate of PG</option>
										<option value="3">Max rate of PG-13</option>
										<option value="4">Max rate of R</option>
										<option value="5">all, including unrated</option>
									</select>
								</div>
							</li>
						</ul>
						
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>Compliance Exports <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Who can request and download exports<br><span>jonathansmith32@gmail.com</span></h3></div>
								<div class="ad-name-icons">
									<button type="button" data-toggle="modal" data-target="#myModaladdnew123">Manage</button>
								</div>
							</li>
						</ul>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>Request an Export<br><span>Download all data that starts within the data range specified</span></h3></div>
								<div class="ad-name-icons">
									<button id="adminpermOpen" type="button" data-toggle="modal" data-target="#myModaladdnew1234">Request</button>
								</div>
							</li>
						</ul>
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>File Sharing <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						
						<ul class="ad-sect">
							<li>
								<div class="ad-name-images"><h3>File Sharing<br><span>Control which services may be used to share files</span></h3></div>
								<div class="ad-name-icons">
									<button id="adminAddFileShare" type="button" data-toggle="modal" data-target="#myModalmanagefiles">Manage</button>
								</div>
							</li>
						</ul>
						
						<div class="ad-selector row clearfix">
							<div class="col-sm-12">
								<h4>Export history <span class="icon-arrow-down"></span> </h4>
							</div>
						</div>
						
					</div>
				</div>			
			</div></div>
				
			<div class="col-sm-3 fourth-columns style-4">
				<div class="chat-info" title="Collapse">
					<div class="toggle-info">
						<a class="toggle-icon"><span class="icon-arrow-right"></span></a>
					</div>
				</div>	
				<div class="taskallocation row clearfix">
					<div class="taskall-sect col-md-12">
						<h4>Update the client call detail to my email</h4>						
						<ol>
							<li><a href="#"><span class="icon-thump_up"></span></a></li>
							<li><a href="#"><span class="icon-Bookmark"></span></a></li>
							<li><a href="#"><span class="icon-Pin"></span></a></li>
							<li><a href="#"><span class="icon-Share"></span></a></li>
							<li><a href="#myModaladdnew1" data-toggle="modal" data-target="#myModaladdnew1"><span class="icon-edit"></span></a></li>
							<li><a href="#"><span class="icon-Delete-1"></span></a></li>
						</ol>						
						<ul class="allocate-details style-4">
							<li class="col-md-12">
								<h3>Assigned To <br><span>jonathansmith32@gmail.com</span></h3>
							</li>
							<li class="col-md-4">
								<h3>Start Date <br><span>12.06.19</span></h3>
							</li>
							<li class="col-md-4">
								<h3>Due Date <br><span>12.06.19</span></h3>
							</li>
							<li class="col-md-4">
								<h3>Days <br><span>2</span></h3>
							</li>
							<li class="col-md-3">
								<h3>Repeat <br><span>None</span></h3>
							</li>
							<li class="col-md-9">
								<h3>Complete When <br><span>100% Done</span></h3>
							</li>
							<li class="col-md-12">
								<h3>Section <br><span>Sample Section</span></h3>
							</li>
							<li class="col-md-12">
								<h3>Description <br><span>Sample Section</span></h3>
							</li>
							<li class="col-md-10">
								<h3>Attach <br><span><img src="images/list-name.png"> Sample File.jpg<br><span>Added 1 days ago</span></span></h3>
							</li>
							<li class="col-md-2 dropdown">
								<span class="icon-Action in dropdown-toggle rets" data-toggle="dropdown"></span>
								<ul class="innermenus dropdown-menu">
									<li><a href="#">Download</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</li>
							<li class="col-md-12">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="icon-arrow-down"></span> Activity</a>
											</h4>
										</div>
										<div id="collapse2" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="tasks">
													<p>QA Team changed the color <span>16:45</span></p>
												</div>
												<div class="tasks">
													<p>QA Team changed the color <span>16:45</span></p>
												</div>
												<div class="tasks">
													<p>QA Team changed the color <span>16:45</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>								
							</li>
							<li class="col-md-12">
								<h3>Conversation<br><br>
								<div class="comment-name-section">
									<div class="name-images">
										<img src="images/list-name.png" class="list-name-img">	
									</div>														
									<h3>Ronnie Diaz</h3>
									<h4>Mon, 2 Apr</h4>
								</div>
									<div class="comments-section">
										<div class="commemts-boxes">Please let me know how we can assist you, we’re here to guide you through.</div>
									</div>
								</h3>
							</li>
						</ul>
						<div class="start-chats">	
							<div class="row clearfix">
								<div class="col-md-2"> 
									<span class="icon-add dropdown-toggle" data-toggle="dropdown"></span>
									<ul class="dropdown-menu">
										<li><a href="#addnewevent" data-toggle="modal" data-dismiss="modal">New Event</a></li>
										<li><a href="#addnewtask" data-toggle="modal" data-dismiss="modal">New Task</a></li>
										<li><a href="#addnewnote" data-toggle="modal" data-dismiss="modal">New Note</a></li>
										<li><a href="#addnewsnippet" data-toggle="modal" data-dismiss="modal">New Snippet</a></li>
										<li class="dropdown dropdown-submenu"><a href="#">Share Files <span class="icon-arrow-right"></span></a>
											<ul class="dropdown-menus">
												<li><a href="#"><span class="icon-monitor"></span> Computer</a></li>
												<li><a href="#"><span class="icon-google-drive"></span> Google Drive</a></li>
												<li><a href="#"><span class="icon-dropbox-logo"></span> Dropbox</a></li>
												<li><a href="#"><span class="icon-box"></span> Box</a></li>
												<li><a href="#"><span class="icon-evernote-logo"></span> Evernote</a></li>
												<li><a href="#"><span class="icon-onedrive"></span> OneDrive</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-md-7">
									<input type="text" id="myInput" name="" placeholder="Type your message here">
								</div>
								<div class="col-md-3">
									<ul class="bottom-charts">
										<li><a href="#"><span class="icon-attach"></span></a></li>								
										<li><a href="#" data-toggle="modal" data-target="#stickers"><span class="icon-sticker"></span></a></li>
										<li><a href="#" data-toggle="modal" data-target="#emojis"><span class="icon-emojis"></span></a></li>
									</ul>
									<input type="submit" name="submit" value="send" class="lake">
								</div>
							</div>
						</div>									
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="myModaladdnew1" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content add-admins">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">Add Admin</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-12">
							<label>Enter name or email address<br>
								<input id="addAdminText" type="email" onkeyup="adminSearch(this.value)" placeholder="Jonathan_smith@gmail.com" autocomplete="off"/>
							</label>
						</div>
					</div>
				</div>
				<div class="modal-body myModaladdnewteamevents style-4" id="adminContactUrlSt" style="overflow-y: auto; max-height: 200px;display:none"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed" data-dismiss="modal" id="addAdminDet">Admin</button>
				</div>
			</div>      
		</div>
	</div>
	
	<div class="modal fade" id="myModaladdnew" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content data-retention">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">Data Retention Policy</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-12">
							<label>Choose Period</label>
							<ul>
								<li class="col-md-4">
									<label class="radio">Forever
									  <input type="radio"  name="retenradios" value="1" id="Rentradios1">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">30 Days
									  <input type="radio"  name="retenradios" value="2" id="Rentradios2">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">60 Days
									  <input type="radio"  name="retenradios" value="3" id="Rentradios3">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">90 Days
									  <input type="radio"  name="retenradios" value="4" id="Rentradios4">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-8">
									<label class="radio autoshowimput">Custom:
									  <input type="radio"  name="retenradios" value="5" id="Rentradios5">
									  <span class="checkround"></span>
									</label> 
									<input type="text" name="" id="retentiontxt" placeholder="14 "/>
								</li>
							</ul>
							<!--<p>Changes in policy only affect new posts. <a href="#">Learn More</a></p>!-->
							<p>Changes in policy only affect new posts</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed" data-dismiss="modal"  id="adminretentionBtm" >Save</button>
				</div>
			</div>      
		</div>
	</div>
	
	
	<div class="modal fade" id="myModaladdnew123" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content data-retention">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">Report an Export</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-12">
							<label>Choose Period</label>
							<ul>
								<li class="col-md-4">
									<label class="radio">Last 7 days
									  <input type="radio" id="Compradios1" name="Compradios" value="1">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">Last 30 days
									  <input type="radio" id="Compradios2" name="Compradios" value="2">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">Last 90 days
									  <input type="radio" id="Compradios3" name="Compradios" value="3">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-4">
									<label class="radio">All Days
									  <input type="radio" id="Compradios4" name="Compradios" value="4">
									  <span class="checkround"></span>
									</label>
								</li>
								<li class="col-md-8">
									<label class="radio autoshowimput">Custom:
									  <input type="radio" id="Compradios5" name="Compradios" value="5">
									  <span class="checkround"></span>
									</label> 
									<input type="text" name="" placeholder="13.06.2019 to 13.06.2019"/>
								</li>
							</ul>
							<br><br>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed" data-dismiss="modal" id="compSubmit">Save</button>
				</div>
			</div>      
		</div>
	</div>
 
	<div class="modal fade" id="myModaladdnew1234" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content data-retention">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">Access to Exports</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-12">
							<label>Identify which administrators can request and download exports</label>
							<ul id="adminpermision" class="ad-secters">
								<li>
									<div class="ad-name-images"><img src="images/customer-img.png" class="customer-img"/> <h3>Ronnie Diaz<br><span>jessica_lucas@gmail.com</span></h3></div>
									<div class="ad-name-icons"><span class="icon-tick"></span></div>
								</li>
								<li>
									<div class="ad-name-images"><img src="images/customer-img.png" class="customer-img"/> <h3>Ronnie Diaz<br><span>jessica_lucas@gmail.com</span></h3></div>
									<div class="ad-name-icons"><span class="icon-tick"></span></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed" data-dismiss="modal" id="adminPermSet">Save</button>
				</div>
			</div>      
		</div>
	</div>

	<div class="modal fade" id="myModalmanagefiles" role="dialog">
		<div class="modal-dialog">    
			<!-- Modal content-->
			<div class="modal-content data-retention">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">Manage File Sharing</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-12">
							<label>Employees may share files from the following sources</label>
							<ul class="ad-secters">
								<li>
									<div class="ad-name-images"><h3><span class="icon-monitor"></span> Computer</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="admincomputer">
											<span class="slider round"></span>
										</label>
									</div>
								</li>
								<li>
									<div class="ad-name-images"><h3><span class="icon-google-drive"></span> Google Drive</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="admingoogle">
											<span class="slider round"></span>
										</label>
									</div>
								</li>
								<li>
									<div class="ad-name-images"><h3><span class="icon-dropbox-logo"></span> Dropbox</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="admindropbox">
											<span class="slider round"></span>
										</label>
									</div>
								</li>
								<li>
									<div class="ad-name-images"><h3><span class="icon-box"></span> Box</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="adminbox">
											<span class="slider round"></span>
										</label>
									</div>
								</li>
								<li>
									<div class="ad-name-images"><h3><span class="icon-evernote-logo"></span> Evernote</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="adminevernote">
											<span class="slider round"></span>
										</label>
									</div>
								</li>
								<li>
									<div class="ad-name-images"><h3><span class="icon-onedrive"></span> OneDrive</h3></div>
									<div class="ad-name-icons">
										<label class="switch ">
											<input type="checkbox" class="primary" id="adminonedrive">
											<span class="slider round"></span>
										</label>
									</div>
								</li>										
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed" data-dismiss="modal" onclick=adminFileShareSave("set")>Save</button>
				</div>
			</div>      
		</div>
	</div>
</div>





 




<script src="js/fjs.js"></script><script> 
$(document).ready(function(){
	
	$("ul.ad-secters h3").click(function(){
		$("ul.ad-secters .ad-name-icons").show();
	});
  
  $("img.list-name-img.last-childs").click(function(){
    $("ul.member-list.keys li img").toggle();
  });
  $(".dashboard-home .col-sm-3 h4 span").click(function(){
    $("ul.member-list.keys li img").toggle();
  });
  $("label.radio.autoshowimput").click(function(){
    $("li.col-md-4.last-input").show();
  });
	$(".closing").click(function(){
    $(".dashboard-home .col-sm-2").hide();
  });
  $(".chat-info").click(function(){
    $(".dashboard-home .col-sm-3").hide();
	$(".chat-info123").show();
	$(".chat-info").hide();
	$(".dashboard-home .col-sm-9").css("width","77%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	//$(".start-chats").css("width","77%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
  });
   $(".chat-info123").click(function(){
    $(".dashboard-home .col-sm-3").show();
	$(".chat-info123").hide();
	$(".chat-info").show();
	$(".dashboard-home .col-sm-9").css("width","56%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".phone-sections.row.clearfix").css("width","100%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".ph-search").css("width","100%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".ph-search select").css("width","auto","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");	
	
  });  
$("label.containe").click(function(){
    $(".dashboard-home .col-sm-3").show();
	$(".chat-info123").hide();
	$(".chat-info").show();
	$(".dashboard-home .col-sm-9").css("width","56%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".phone-sections.row.clearfix").css("width","100%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".ph-search").css("width","100%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	$(".ph-search select").css("width","auto","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");		
  });  
});


$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
$("img.m-menus").click(function(){
    $(".dashboard-home .col-sm-2").show();2
	$(".dashboard-home .col-sm-2").css("transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
	//$(".start-chats").css("width","56%","transition-duration","0.8s",  "transition-timing-function","ease-in", "transition-delay","0.8s");
  });
</script>
</body>
</html>