
<div class="modal fade" id="myModaladdnew1" role="dialog">
    <div class="modal-dialog">    
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
				<h4 class="modal-title">Edit Task</h4>
			</div>
			<div class="modal-body">
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Task Title<br>
							<input type="text" name="" placeholder="Sample Task Title"/>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Assigned To<br>
							<input type="email" name="" placeholder="jonathansmith@gmail.com"/>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4">
						<label>Start Date<br>
							<input type="date" name="" placeholder="12.06.19"/>
						</label>
					</div>
					<div class="col-md-4">
						<label>Due Date<br>
							<input type="date" name="" placeholder="12.06.19"/>
						</label>
					</div>
					<div class="col-md-4">
						<label>Days<br>
							<input type="text" name="" placeholder="2"/>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4">
						<label>Repeat<br>
							<select name="">
								<option value="">None</option>
							</select>
						</label>
					</div>
					<div class="col-md-8">
						<label>Complete When<br>
							<select name="">
								<option value="">100% Done</option>
							</select>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Section<br>
							<input type="text" name="" placeholder="Sample Section"/>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Description<br>
							<input type="text" name="" placeholder="Sample Description"/>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="colored col-md-8">
						<label class="labs">Color<br>
							<label class="blue">
								<input type="radio">
								<span class="checkmarks"></span>
							</label>
							<label class="blue1">
								<input type="radio">
								<span class="checkmarks"></span>
							</label>
							<label class="blue2">
								<input type="radio">
								<span class="checkmarks"></span>
							</label>
							<label class="blue3">
								<input type="radio">
								<span class="checkmarks"></span>
							</label>
							<label class="blue4">
								<input type="radio" checked>
								<span class="checkmarks"></span>
							</label>
							<label class="blue5">
								<input type="radio">
								<span class="checkmarks"></span>
							</label>
						</label>
					</div>
					<div class="col-md-4">
						<label class="afiles">Attach<br>
							<input type="file" name="" placeholder="Attach Files"/><span>Attach Files</span>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12">
						<label class="containe">After saving, Create another task
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default proceed">Post Task</button>
			</div>
		</div>      
    </div>
</div>
