<div class="modal fade" id="addnewsnippet" role="dialog">
    <div class="modal-dialog editors"> 
		<div class="modal-content">
			<div class="modal-header">
				<button href="#myModalclosesave" data-toggle="modal" data-dismiss="modal" class="close"><img src="images/close.svg"/></button>
				<h4 class="modal-title">New/Edit Snippet</h4>
			</div>
			<div class="modal-body">
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Title<br>
							<input type="text" name="" placeholder="C++ Code"/>
						</label>
					</div>
				</div>				
				<div class="row clearfix">
					<div class="col-md-12">						
						<label><br>
							<textarea id="codesample"></textarea>
						</label>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12">						
						<label>Comments<br>
							<input type="text" name="" placeholder="Error Code here"/>
						</label>
					</div>
				</div>				
			</div>
			<div class="modal-footer">
				<button class="btn btn-default closes" data-toggle="modal" data-dismiss="modal">Cancel</button>
				<button href="#myModalnewpost" class="btn btn-default proceed" data-toggle="modal" data-dismiss="modal">Post Snippet</button>
			</div>
		</div>      
    </div>
</div>