<div class="version">Version: {{version}}</div>
		<div class="copyrigth">Copyright@ {{copyrightyear}} UnifiedRing, Inc.</div>
	<div class="abtBtn"><button type="button" class="btn abtok" data-dismiss="modal">Ok</button></div>