<div class="row clearfix">
    <div class="col-sm-12">
        <h3>Calls <span class="contact-span1">
                <div class="dropdown">
                    <span class="icon_filter dropbtn"></span>
                    <div class="dropdown-content">
                        <span class="dropdown-menu-arrow"></span>
                        <a href="#">All</a>
                        <a href="#">Missed</a>
                        <a href="#">Voicemail</a>

                    </div>
                </div>
            </span><span class="contact-span">All</span></h3>
    </div>
</div>

<div class="container">
    <div class="">
        <input type="text" name="" placeholder="Recent calls, voicemails" class="leftsearch" />
    </div>
</div>

<div class="row clearfix left-contact-list">
    <div class="col-sm-12" id="contactlist-sec">
    </div>
</div>