<div class="col-sm-9 third-columns disable-select" id="ControlWindow">
				<div class="fixedscroll dashBoardWind style-4 disable-select" >
					<div class="chat-info123" title="Expand">
						<div class="toggle-info">
							<a class="toggle-icon"><span class="icon-arrow-left"></span></a>
						</div>
					</div>
					<img src="images/m-3dot.png" class="left-menu-section"/>
						
					<div class="phds row clearfix" id="DashBHeader">
						<div class="col-sm-6">
							<img src="images/menu-black.svg" class="m-menus"/><h3>Dashboard</h3>
						</div>
						<div class="col-sm-6">
							<div class="phdsbox row clearfix">			
								<div class="col-md-12">
									<input type="text" placeholder="Search" id="dashBrdSrc" onKeyup="DashBrdSrch_Fun(this.value)" autocomplete="off" maxlength="28">
								</div>
							</div>
						</div>
					</div>	
					
					<div class="dirtectory-screen dashboard row clearfix style-4">
						<div class="scrollenable nogame col-md-12">

							
							<div class="tablestask row clearfix" id="DashTasks">
								<div class="tablerespons col-md-12 style-4">				
								
									<table id="examples" class="display dashboard DashTasksTable" cellspacing="0">
										<thead>
											<tr>
												<th>Task <img src="images/plus-color.svg" class="addnewsinnertable" data-toggle="modal" data-target="#myModalTask"/></th>
												<th>Assigned To</th>
												<th>Due</th>
												<th class="width-set">Section</th>
												<th>Conversation</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
																				</tbody>
									</table>
								</div>
							</div>	
							
							<div class="phds dashboard row clearfix" id="dashBRecent">
								<div class="row dashboard_mentionsec">
								<div class="col-sm-12">
									<h3>@Mentions</h3>
									<button id="showall_mention" style="float: right; display:none" onclick="BrowserMention()"> Show all</button>
								</div>
								</div>
							</div>
						
							<div class="adminscreen team row clearfix" id="dashBRecentActivity">
								<div class="col-md-12">
									
									<ul class="ad-sect" id="recentActicity">
										<li>
											<div class="ad-name-images"><h3>Michelle Jackson in <b>Peterson</b><br><span><b>QA team</b> Jonathan kindly consider the noted issues reported</span></h3></div>
											<div class="ad-name-icons">12.06.19 4:30 PM</div>
										</li>
										<li>
											<div class="ad-name-images"><h3>IOS team<br><span>Arunkumar and d.christina</span></h3></div>
											<div class="ad-name-icons">
												<ul class="top-charts">
													<li><a href=""><span class="icon-Search"></span></a></li>
											<li><a href=""><span class="icon-Phone"></span></a></li>
											<li><a href=""><span class="icon-Video"></span></a></li>
											<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-Action in"></span></a>
												<ul class="dropdown-menu">
													<li><a href="">Mark Unread</a></li>
													<li><a href="#">Favourite <span class="icon-tick"></span></a></li>
													<li><a href="#closechat" data-toggle="modal" data-dismiss="modal">Close Conversation</a></li>
													<li class="dropleft"><a href="#">Post via Email</a>
														<ul class="dropleft-menu">
															<li>Post a message to this conversation by sending an email to <span>v.unifiedring@vectione.com</span><br><br>Attachments work too</li>
														</ul>
													</li>
													<li class="mute-notificationson"><a href="#">Mute All Notifications</a></li>
													<li class="unmute-notificationson"><a href="#">Unmute All Notifications</a></li>
													<li class="mute-desktop-notificationson"><a href="#">Desktop Notifications</a></li>
													<li class="unmute-desktop-notificationson"><a href="#">Unmute Desktop</a></li>
													<li class="dropleft mobile"><a href="#">Mobile Notifications <span class="icon-arrow-right submenu-img"></span></a>	
														<ul class="dropleft-menu mobile">
															<li><a href="">Every Message</a></li>
															<li><a href="">Off</a></li>
														</ul>
													</li>
													<li><a href="#">Email Notifications <span class="icon-tick"></span></a></li>
													<li class="dropleft sound"><a href="#">Sound</a>	
														<ul class="dropleft-menu sound">
															<li><a href="">#Sound1</a></li>
															<li><a href="">#Sound1</a></li>
														</ul>
													</li>
													<li><a href="#addintegration" data-toggle="modal" data-dismiss="modal">Add Integration</a></li>
													<li><a href="#deactivateuser" data-toggle="modal" data-dismiss="modal">Deactivate this User</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>