{{> header}}

<div class="container-fluid main-second">
	<div class="row clearfix">
		<div class="col-sm-1 main-left1">
			{{> small-left}}
		</div>
		<div class="col-sm-3 main-left2">
			{{> big-left}}
		</div>
		<div class="col-sm-7 main-left3">
			{{> inner-main}}
		</div>
		<div class="col-sm-1 main-left4">
			{{> small-right}}
		</div>
	</div>
</div>


{{> footer}}