{{#if isContact}}
					{{> contactname contactarray}}	
				{{!-- {{else}}
				{{> nocontact }} --}}
		{{/if}} 
{{!-- <div class="container-fluid main-second">
	<div class="row clearfix">
		<div class="col-sm-1 main-left1">
			<div class="row clearfix">
				{{> small-left}}
		</div>
		</div>
		<div class="col-sm-3 main-left2 p-0">
			<div class="row clearfix">
				
		{{#if isContact}}
					{{> big-left }}	
				{{else}}
				{{> nocontact }}
		{{/if}} 
		</div>
		</div>
		
			
		
		<div class="col-sm-7 main-left3" id="chatsec">
			
		</div>
		<div class="col-sm-1 main-left4">
		{{> small-right}}
		</div>
	</div>
</div> --}}


