<div class="row clearfix inner-call-window">
	<div class="col-sm-12">
		<!-- Content Goes Here -->

		<div class="pad">
			<div class="dial-pad">
				<div class="phoneString">
					<div class="dropdown dial">

						<input type="text" placeholder="Type a name or number" autocomplete="off" id="con-dial-search"
							class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<!--<div class="dropdown-menu dialpad-name-list">
							<span class="dropdown-menu-arrow"></span>
							<ul class="list-unstyled dial-name">
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio1" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio1">
											<div class="media-body">
												<h5 class="mt-0">Direct Number</h5>
												<P>020 3992 8128</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio2" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio2">
											<div class="media-body">
												<h5 class="mt-0">Main Company Number</h5>
												<P>020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio3" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio3">
											<div class="media-body">
												<h5 class="mt-0">Additional Company Number</h5>
												<P> 020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio4" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio4">
											<div class="media-body">
												<h5 class="mt-0">Additional Company Number</h5>
												<P>020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio5" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio5">
											<div class="media-body">
												<h5 class="mt-0">Additional Company Number</h5>
												<P>020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio1" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio1">
											<div class="media-body">
												<h5 class="mt-0">Direct Number</h5>
												<P>020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio2" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio2">
											<div class="media-body">
												<h5 class="mt-0">Main Company Number</h5>
												<P>020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
								<li class="media">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio3" name="customRadio"
											class="custom-control-input">
										<label class="custom-control-label" for="customRadio3">
											<div class="media-body">
												<h5 class="mt-0">Additional Company Number</h5>
												<P> 020 3992 8129</P>
											</div>
										</label>
									</div>
								</li>
							</ul>
						</div>-->
						<div class="dropdown-menu dialpad-name-list">
							{{> dropdown}}
						</div>
					</div>
				</div>
				<div class="phoneString">
					<div class="dropdown dial">
						<span class="pull-left">From:</span>
						<div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							020 3992 8129</div>

					</div>
				</div>
				<div class="digits">
					<div class="dig pound number-dig" name="1">1</div>
					<div class="dig number-dig" name="2">2
						<div class="sub-dig">ABC</div>
					</div>
					<div class="dig number-dig" name="3">3
						<div class="sub-dig">DEF</div>
					</div>
					<div class="dig number-dig" name="4">4
						<div class="sub-dig">GHI</div>
					</div>
					<div class="dig number-dig" name="5">5
						<div class="sub-dig">JKL</div>
					</div>
					<div class="dig number-dig" name="6">6
						<div class="sub-dig">MNO</div>
					</div>
					<div class="dig number-dig" name="7">7
						<div class="sub-dig">PQRS</div>
					</div>
					<div class="dig number-dig" name="8">8
						<div class="sub-dig">TUV</div>
					</div>
					<div class="dig number-dig" name="9">9
						<div class="sub-dig">WXYZ</div>
					</div>
					<div class="dig number-dig astrisk" name="*">*</div>
					<div class="dig number-dig pound" name="0">0</div>
					<div class="dig number-dig pound" name="#">#</div>
				</div>
				<div class="digits">
					<div class="dig number-dig astrisk" name="*" style="visibility: hidden;"></div>
					<div class="dig number-dig callbtn" name=""><span class="icon_call"></span>
					</div>
					<div class="dig  goBack action-dig" name="#" style="visibility: hidden;">#</div>
				</div>
			</div>

		</div>


	</div>
</div>