
<div class="modal" id="EmergencyAdd" role="dialog">
	<div class="modal-dialog editors">    
		
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"><img src="images/close.svg"/></button>
				<h4 class="modal-title">Register Address for Emergency Calls</h4>
			</div>
			<div class="modal-body">
				<div class="row clearfix">
					<div class="col-md-6">
						<label>Customer Name<br>
							<input id="emer_cust_Name" name="filename" type="text" placeholder="Name" autocomplete="off" maxlength="32">		
						</label>
					</div>
					<div class="col-md-6">
						<label>Address<br>
							<input id="emer_cust_Add1" name="filename" type="text" placeholder="Address" autocomplete="off" maxlength="150">		
						</label>
					</div>
					<div class="col-md-6">
						<label>Address2<br>
							<input id="emer_cust_Add2" name="filename" type="text" placeholder="Address1" autocomplete="off" maxlength="150">		
						</label>
					</div>
					<div class="col-md-6">
						<label>City<br>
							<input id="emer_cust_City" name="filename" type="text" placeholder="City" autocomplete="off" maxlength="64">		
						</label>
					</div>
					<div class="col-md-6">
						<label>Country<br>
							<input id="emer_cust_Country" name="filename" type="text" placeholder="Country" autocomplete="off" maxlength="64">		
						</label>
					</div>
					<div class="col-md-6">
						<label>Poscode<br>
							<input id="emer_cust_Postcode" name="filename" type="text" placeholder="Poscode" autocomplete="off" maxlength="64">		
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closes">CANCEL</button>
				<button type="button" class="btn btn-default proceed" id="emergencystore" data-dismiss="modal">CONFIRM</button>
			</div>
		</div>      
	</div>
</div>