
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="alert" id="GroupChatInvite">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header smodal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Confirm Join</h4>
				</div>
				<div class="modal-body smodal-body">
					<div><strong><span id="invitefrom"></span></strong>&nbsp;has invited you to join Group Chat&nbsp;<strong><span id="inviteto"></span></strong></div>
					<p>Accept to Join ?</p>
				</div>
				<div class="modal-footer smodal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="joinConfirmation">Join</button>
					<input type="hidden" id="modelID" value="" />
				</div>
			</div>
		</div>
	</div>