<div class="col-sm-7 main-left3">
	<div class="row clearfix inner-ptop">
		<div class="col-sm-12">
			<div class="row clearfix">
				<div class="col-sm-7">
					<img src="images/pho.png" />
					<h4>Adrian Layne <span class="icon_favourite_inactive"></span></h4>
					<p><span class="dotscolors green static"></span> Available</p>
				</div>
				<div class="col-sm-5">
					<ul>
						<li><span class="icon_call1"></span></li>
						<li><span class="icon_video_call"></span></li>
						<li><span class="icon_more_vertical"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-sm-12">
			<!-- Content Goes Here -->



		</div>
	</div>
</div>


<div class="col-sm-1 main-left4">
	<div class="row clearfix">
		<div class="col-sm-12">
			<ul>
				<li>
					<div class="rowslideright"><span class="pull-right" onclick="openNav()"><img
								src="images/sidebar_expand.svg"></span></div>
				</li>
				<li><span class="icon_task_inactive"></span></li>
				<li><span class="icon_event_inactive"></span></li>
				<li><span class="icon_bookmark_inactive"></span></li>
				<li><span class="icon_files_inactive"></span></li>
				<li><span class="icon_pin_inactive"></span></li>
				<li><span class="icon_notes_inactive"></span></li>
				<li><span class="icon_link_inactive"></span></li>
				<li><span class="icon_at_mention"></span></li>
				<li><span class="icon_me_conversation_inactive"></span></li>
			</ul>
		</div>
	</div>
	<div id="mySidenav" class="sidenav">
		<div class="closenavbtn"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span
					class="icon_close"></span></a></div>
		<div class="rigtstar"><span class="icon_favourite_active cyellow"></span></div>
		<div class="vsliderighthead text-center">
			<div class="vsliderRpic">
				<img src="images/pho.png">
				<span class="avail-sts green"></span>
			</div>
			<div class="vsliderRpname">Adrian Layne</div>
			<div class="vcon-sec">
				<div>
					<div class="vcon-sec-icn"><span class=""><img src="images/call.svg"></span></div>
					<div class="vcon-title">Call</div>
				</div>
				<div>
					<div class="vcon-sec-icn"><span class=""><img src="images/message.svg"></span></div>
					<div class="vcon-title">Message</div>
				</div>
				<div>
					<div class="vcon-sec-icn"><span class=""><img src="images/message.svg"></span></div>
					<div class="vcon-title">Meet</div>
				</div>
			</div>
		</div>
		<div class="vsliderighcontent">
			<ul id="myTab" class="nav slidelist">
				<li class="nav-item">
					<a href="#home" class="nav-link active">Contact Details</a>
				</li>
				<li class="nav-item">
					<a href="#profile" class="nav-link">Other Details</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home">
					<ul class="con-de">
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-list-sm">Status</span>
									<span class="con-sec-tit">Working Remotely</span>
								</div>
								<div>
									<img src="images/working_in_home.svg">
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-list-sm">Department</span>
									<span class="con-sec-tit">QA</span>
								</div>
								<div>

								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-list-sm">Extn.</span>
									<span class="con-sec-tit">727</span>
								</div>
								<div>
									<span class="icon_call"></span>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-list-sm">Direct Number</span>
									<span class="con-sec-tit">020 84750987</span>
								</div>
								<div>
									<span class="icon_call"></span>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-list-sm">Email Address</span>
									<span class="con-sec-tit">athena.carrol@vectone.com</span>
								</div>
								<div>
									<span class="icon_email"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="profile">
					<ul class=" other-con-de">
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Tasks</span>
								</div>
								<div>
									<div class="other-de-cnt">5 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Events</span>
								</div>
								<div>
									<div class="other-de-cnt">3 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Files</span>
								</div>
								<div>
									<div class="other-de-cnt">25 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Pinned</span>
								</div>
								<div>
									<div class="other-de-cnt">12 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Notes</span>
								</div>
								<div>
									<div class="other-de-cnt">5 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="con-sec-tit">Links</span>
								</div>
								<div>
									<div class="other-de-cnt">3 <span class="icon_arrow_right"></span></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>