<div class="col-sm-3 fourth-columns style-4">
				<div class="chat-info" title="Collapse">
					<div class="toggle-info">
						<a class="toggle-icon"><span class="icon-arrow-right"></span></a>
					</div>
				</div>	
				<div class="taskallocation row clearfix">
					<div class="taskall-sect col-md-12"></div>
				</div>
			</div>