<div class="container-fluid main-top">
	<div class="row clearfix">
		<div class="col-sm-12">
			<div class="row clearfix">
				<div class="col-sm-3">
					<img src="images/ur_logo_white.svg" class="logo" />
				</div>
				<div class="col-sm-7">
					<div class="top-search">
						<input type="text" name="" placeholder="Search" />
						<button class="topbtn"><span class="icon_add_new"></span> New</button>
					</div>
				</div>
				<div class="col-sm-2">
					<img src="images/pho.png" class="top-pro-photo" />
					<span class="dotscolors green"></span>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid main-second">
	<div class="row clearfix">

		<div class="col-sm-1 main-left1">
			<div class="row clearfix">
				<div class="col-sm-12">
					<ul>
						<li><span class="icon_chat"></span><span class="dots">1</span><br>Chat</li>
						<li style="cursor:pointer"><a herf="#" id="callWindowOpen"><span
									class="icon_call"></span><br>Calls</a></li>
						<li style="cursor:pointer"><a herf="#" id="contactWindowOpen"><span
									class="icon_contacts"></span><br>Contacts</a></li>
						<li><span class="icon_meeting"></span><br>Meeting</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-3 main-left2 p-0">
			<div class="row clearfix">
				<div class="col-sm-12" id="headerPartial">

				</div>
			</div>
		</div>

		<div class="col-sm-7 main-left3" id="chatsec">

		</div>

		<div class="col-sm-1 main-left4">
			{{> small-right}}
		</div>
	</div>
</div>