<div id="incoming-call" class="modal fade in" style="display: block; padding-left: 17px;">
    <div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center">
			
			<div class="modal-content">
				<div class="incoming-calls">
					<div class="modal-header">
						<div class="first-screen">
							<div class="icon-group">
								<i><a class="close1" data-dismiss="modal" aria-hidden="true"><img src="images/close_btn.svg"></a></i>
								<i><img src="images/minimize_btn.svg"></i>
								<i><a href="#"><img src="images/maximize_btn.svg"></a></i>
							</div>
							<h4 class="modal-title">Incoming Call</h4>
						</div>
						<div class="second-screen">
							<div class="icon-group">
								<span class="icon-Left-arrow"></span>
							</div>
							<h4 class="modal-title">Forward call to</h4>
						</div>
						<div class="third-screen">
							<div class="icon-group">
								<span class="icon-Left-arrow"></span>
							</div>
							<h4 class="modal-title">Reply</h4>
						</div>
					</div>
					<div class="modal-body">
						<div class="first-screen">
							<div class="text-center photo">
								<img id="InCcallerImg" src="images/modal-photo.png">
							</div>
							<h1 id="InCallerName"></h1>
							<h2 id="InNumber"></h2>
						</div>
						<div class="second-screen">
							<div class="numberbox row clearfix">
								<input type="text" name="number" class="numbersections" id="dialpadtype" placeholder="Type a Name or Number">
							</div>
							<div class="dialpad-section1">
								<p>From: 8939326827 <span class="icon-arrow-down"></span></p>
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
										<img src="images/green.png" class="dotactive">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>Ext. 302</span></div>
								</div>
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
										<img src="images/green.png" class="dotactive">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>Ext. 302</span></div>
								</div>
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
										<img src="images/green.png" class="dotactive">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>Ext. 302</span></div>
								</div>
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
										<img src="images/green.png" class="dotactive">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>Ext. 302</span></div>
								</div>
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
										<img src="images/green.png" class="dotactive">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>Ext. 302</span></div>
								</div>
							</div>
						</div>
						<div class="third-screen">
							<div class="dialpad-section1">
								<div class="row">
									<div class="customer-names">
										<img src="images/customer-img.png" class="customer-img">
									</div>
									<div class="customer-images">Ronnie Diaz<br><span>302</span></div>
								</div>
							</div>
							<ul>
								<li><span class="icon-automobile"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span></span> Out of office</li>
								<li><span class="icon-clock"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span> In a meeting</li>
								<li><span class="icon-mask"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span> Out sick</li>
								<li><span class="icon-house"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span> Working remotely</li>
								<li><span class="icon-cocktail"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span></span> On holiday</li>
								<li><span class="icon-airplane"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span> Traveling</li>
							</ul>
						</div>
					</div>
					<div class="modal-footer"> 
						<ul class="icons-listing">
							<li class="select-one">
								<span class="icon-voicemail"><span class="path1"></span><span class="path2"></span></span>
								<h6>Call End</h6>
							</li>
							<li class="select-two">
								<span class="icon-forward"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
								<h6>Forward</h6>
							</li>
							<li class="select-three">
								<span class="icon-Chat"></span>
								<h6>Reply</h6>
							</li>
							<li class="select-four">
								<span class="icon-calling-1"><span class="path1"></span><span class="path2"></span></span>
								<h6>Answer</h6>
							</li>
						</ul>
					</div>  
				</div>
			</div>
			
		</div>
	</div>
</div>