<div class="row clearfix inner-ptop">
	<div class="col-sm-12">
		<div class="row clearfix">
			<div class="col-sm-7">
				<img src="images/pho.png" />
				<h4>Adrian Layne <span class="icon_favourite_inactive"></span></h4>
				<p><span class="dotscolors green static"></span> Available</p>
			</div>
			<div class="col-sm-5">
				<ul>
					<li><span class="icon_call1"></span></li>
					<li><span class="icon_video_call"></span></li>
					<li><span class="icon_more_vertical"></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>