<div class="modal dashboard" id="myModalnewposttasks" role="dialog">
    <div class="modal-dialog editors">    
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
				<h4 class="modal-title">Move to</h4>
			</div>
			<div class="modal-body">
				<div class="row clearfix">
					<div class="col-md-12">
						<label>Type person or team name</label>
						<p style="display:none; color:red" id="moveerror">At a time can be move to one user </p>
						<input class="suggessiontxt" type="text" placeholder="Search" name=""/>
					</div>
					<div class="col-md-12 sharePop clearfix">
						 <ol class="sharePop_ol">
							
						</ol>
					</div>
				</div>
				<div class="serch row clearfix style-4">
					<div class="col-md-12">
						<ul class="SuggessionLst">
							<li>
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img">
								</div>
								<div class="name-images123"><p>Mary Ortiz<br><span>mary_ortiz@vectone.com</span></p></div>
							</li>
							<li>
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img">
								</div>
								<div class="name-images123"><p>Mary Ortiz<br><span>mary_ortiz@vectone.com</span></p></div>
							</li>
							<li>
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img">
								</div>
								<div class="name-images123"><p>Mary Ortiz<br><span>mary_ortiz@vectone.com</span></p></div>
							</li>
							<li>
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img">
								</div>
								<div class="name-images123"><p>Mary Ortiz<br><span>mary_ortiz@vectone.com</span></p></div>
							</li>
							<li>
								<div class="name-images">
									<img src="images/list-name.png" class="list-name-img">
								</div>
								<div class="name-images123"><p>Mary Ortiz<br><span>mary_ortiz@vectone.com</span></p></div>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default proceed">Share</button>
				</div>
			</div>
		</div>      
    </div>
</div>