 <ul class=" other-con-de">
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Tasks</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="tsk_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Events</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="evt_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Files</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="file_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Pinned</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="pin_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Notes</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="note_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-tit">Links</span>
			            			</div>
			            			<div>
			            				<div class="other-de-cnt"><span style="font-size:14px" id="link_cnt">0</span> <span class="icon_arrow_right"></span></div>
			            			</div>
			            		</div>
			            	</li>
			            </ul>