<div class="col-sm-1 first-columns">
				<ul class="icons-top">
					
					<li class="openDashBoard active"><a href="#"><span class="icon-Dashboard"></span>Dashboard</a></li>
					<li class="openPhone"><a href="#"><span class="icon-Phone"></span>Phone</a></li>
					<li class="openBookM"><a href="#"><span class="icon-Bookmark"></span>Bookmarks</a></li>
					<li class="openDic"><a href="#"><span class="icon-Directory"></span>Contacts</a></li>
				</ul>
				<ul class="icons-bottom">
					<li class="openTsk"><a href="#"><span class="icon-Task"></span>Task</a></li>
					<li class="openEvnt"><a href="#"><span class="icon-Calendar-date"></span>Events</a></li>
					<li class="openNts"><a href="#"><span class="icon-Notes"></span>Notes</a></li>
					<li class="openFls"><a href="#"><span class="icon-Folder"></span>Files</a></li>
					<li class="openLnk"><a href="#"><span class="icon-Link"></span>Links</a></li>
				</ul>
			</div>