<div class="task-sec-custom-con" id="repeatall_sec">
						<div class="row clearfix">
							<div class="col-md-12">
								<h4 class="reapet-txt back_default"><img class="rep-icon-sec" src="images/pop/back_sub_nav.svg"> Repeat
									
								</h4>
								
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-5">
								<label>Repeats Every
									
								</label>
								<select class="form-control custom-icon" id="repeatIntervalValue">
									<option selected>1</option>
									<option>2</option>
									<option>3 </option>
								</select>
								
							</div>
							<div class="col-md-5">
								<label>
									&nbsp;
								</label> 
								<select class="form-control custom-icon" id="repeat_option">
									<option value="daily" selected>Day</option>
									<option value="weekly">Week</option>
									<option value="monthly">Month</option>
									<option value="yearly">Year</option>
								</select>
							</div>
						</div>
						<div id="every_week_sec" style="display: none;">
						<div class="row clearfix">
							<div class="col-md-12">
								<label>Repeats On
									
								</label>
								<div class="">
									<ul class="date-badge-con rrule-weekly">
										<li class="active" data-value="0"><a class=""  >S</a></li>
										<li class="" data-value="1"><a class=""  data-value="1">M</a></li>
										<li class="" data-value="2"><a class=""   data-value="2">T</a></li>
										<li class="" data-value="3"><a class=""   data-value="3">W</a></li>
										<li class="" data-value="4"><a class=""   data-value="4">T</a></li>
										<li class="" data-value="5"><a class=""   data-value="5">F</a></li>
										<li class="" data-value="6"><a class="" data-value="6">S</a></li>
										
										
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div id="every_month_sec" style="display: none;">
					<div class="row clearfix">
						<div class="col-md-12 mat-top-min rrule-monthly">
							<label>Repeats On
								
							</label>
							<div class="">
								<div class="form-check">
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" name="rruleMonthlyType" value="2" class="custom-control-input opacity-unset"  id="customRadio9" name="example" value="customEx">
										<label class="custom-control-label" for="customRadio9">Monthly on the <span id="monthdays"></span></label>
									</div>
									
								</div>
							</div>
							<div class="">
								<div class="form-check">
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" name="rruleMonthlyType" value="1" class="custom-control-input opacity-unset" id="customRadio10" name="example" value="customEx">
										<label class="custom-control-label" for="customRadio10">Monthly on day <span id="monthdate"></span></label>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
					
						<!-- <div id="every_day_sec"> -->
								<div class="row clearfix endsection">
									<div class="col-md-12 mat-top-min">
									<label>Ends
											
										</label>
									</div>	
									
									<div class="col-md-12 mar-bot-min">
									<div class="mar-bot-min">
										<div class="form-check">
											
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" class="custom-control-input opacity-unset" id="customRadio" name="rruleEndAction" value="never">
												<label class="custom-control-label" for="customRadio">Never</label>
											</div>
											</div>
										</div>
									<div class="row mar-bot-min">
										<div class="col-md-2">
											<div class="form-check">
												<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" class="custom-control-input opacity-unset" id="customRadio2" name="rruleEndAction" value="date">
												<label class="custom-control-label" for="customRadio2">On</label>
											</div>
											
											</div>
										</div>
										<div class="col-md-5">
												<div class="input-over-pop-sec ">
											<input id="repeatday-date" type="date" class="custom-input-set form-control iscdatepicker datepicker" placeholder="11 Dec 2019" required="">
											
											</div>
										</div>
									</div>
										
									<div class="row mar-bot-min">
										<div class="col-md-2">
											<div class="form-check">
												<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" class="custom-control-input opacity-unset" id="customRadio3"  name="rruleEndAction" value="after">
												<label class="custom-control-label" for="customRadio3">After</label>
											</div>
											
											</div>
										</div>
										<div class="col-md-5">
											<select class="form-control custom-icon" id="rruleEndSessionsCount">
											<option>1</option>
											<option>2</option>
											<option>3 </option>
											<option>4 </option>
											<option>5 </option>
											<option>6 </option>
										</select>
										</div>
										<div class="col-md-5">
											<label>Occurrence
											
											</label>
										</div>
										
										
									</div>
									
									</div>
								
									
									
								</div>
	
					
						<div class="modal-footer right-side">
							<div class="float-right">
								<button type="button" class="btn btn-default back-btn mr-3 back_default" onclick="clearCustomRRule()">Cancel</button>
								<button type="button" class="btn cont-btn back_default" onclick="saveCustomRRule()">Done</button>
							</div>
						</div>
					</div>