
				<div class="col-sm-12">
					<ul>
						<li><span class="icon_chat"></span><span class="dots">1</span><br>Chat</li>
						<li><span class="icon_call"></span><br>Calls</li>
						<li><span class="icon_contacts"></span><br>Contacts</li>
						<li><span class="icon_meeting"></span><br>Meeting</li>
					</ul>
				</div>
		