
<div class="modal" id="viewAttachFile" role="dialog">
		<div class="modal-dialog editors">    
			
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><img src="images/close.svg"/></button>
					<h4 class="modal-title">View File</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
							<img class="viewAttach" src="images/nopath.png">
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default closes" data-dismiss="modal">Ok</button>
				</div>
			</div>      
		</div>
	</div>