 <h4 class="available-sec">
                <span class="dotscolors-cir {{color}}"></span> {{status}}
                {{#if tick}}
                <span class="icon_single_tick right-sid-arw blue-clr font-600"></span>
            {{else}}
                        <span class="right-sid-arw blue-clr font-600"></span>
                {{/if}}
            </h4>