 <h4 class="available-sec">
        <span class="dotscolors-cir currentstaus {{color}}"></span> <span id='status'>{{status}}</span>
        <span class="icon_arrow_right right-sid-arw"></span>
    </h4>