
				
								
					<img src="images/pho.png" class="top-pro-photo" data-toggle="tooltip" data-html="true" title="{{username}} Ext: {{ext}}">/>
					<span class="dotscolors chatclr"></span>

					<div class="user-pop-con-sec">
						<div class="user-row-sec">
							<ul class="list-order-icon">
								<li>
									<a class="" href="#">
									<div class="">
									<img src="images/pho.png"/>
									<h4 class="exn-clr-head">{{username}}<span class="exn-clr">Ext: {{ext}}</span></h4>
									</div>
									</a>
								</li>
								<li class="availab-status praentavailable">
									
								</li>
								<li class="home-status">
									<a class="" href="#">
									<h4 class="available-sec-sts">
									<h3 class="sts-text">Share Status</h3>
									<img  class="work-home-img" src="images/user-img/house.svg"/> Working remotely
									</h4>
									<span class="icon_arrow_right right-sid-arw-wok"></span>
									</a>
									<ul class="work-sts-con">
										<li>
											<a class="" href="#">
											<h4 class="available-sec">
											<img  class="work-home-img mar-top-3" src="images/user-img/in_meeting.svg"/>  In a meeting
											
											</h4>
											</a>
										</li>
										<li>
											<a class="" href="#">
											<h4 class="available-sec">
											<img  class="work-home-img mar-top-3" src="images/user-img/out_of_office.svg"/>  Out of office
											
											</h4>
											</a>
										</li>
										<li>
											<a class="" href="#">
											<h4 class="available-sec">
											<img  class="work-home-img" src="images/user-img/house.svg"/>  Working remotely
											<span class="icon_single_tick right-sid-arw blue-clr font-600"></span>
											</h4>
											</a>
										</li>
										<li>
											<a class="" href="#">
											<h4 class="available-sec">
											<img  class="work-home-img mar-top-3" src="images/user-img/travelling.svg"/>  Travelling
											
											</h4>
											</a>
										</li>
										<li>
											<a class="" href="#">
											<h4 class="available-sec">
											<img  class="work-home-img mar-top-3" src="images/user-img/vacation.svg"/>  On holiday
											
											</h4>
											</a>
										</li>
									</ul>
								</li>
								<li class="availab-status bor-set-btm">
									<a class="" href="#">
									<div>
									<h4 class="available-sec">
									<span class="icon_profile pop-icon-user"></span> 
									<!--<img  class="work-home-img mar-top-3" src="images/user-img/adjust.svg"/>--> My Profile
									</h4>
									</div>
									</a>
								</li>
								<li>
									<a class="" href="#">
									<div>
									<h4 class="available-sec">
									<span class="icon_settings pop-icon-user"></span>  Settings
									</h4>
									</div>
									</a>
								</li>
								<li>
									<a class="helpPage" href="#">
									<div>
									<h4 class="available-sec">
									<span class="icon_help pop-icon-user"></span>  Help
									</h4>
									</div>
									</a>
								</li>
								<li>
									<a class="proappInfo" href="#">
									<div>
									<h4 class="available-sec">
									<span class="icon_info pop-icon-user"></span>  About
									</h4>
									</div>
									</a>
								</li>
								<a class="signOut" style="color:black" href="#"><li class="availab-status bor-set-btm">Sign Out
								</li></a>
							</ul>
						</div>
					</div>
				
			